<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% extends 'main.html' %} {% block content %}
    <style>
      .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
      }
    </style>

    <div class="home-container">
      <!-- frist div Browse Topic -->

      {% include 'base/topics_component.html'%}

      <!-- secand div  'create-room-->
      <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room </a>

        {%include 'base/feed_component.html'%}
      </div>

      <!-- therd  div Recent Activity -->
      {% include 'base/activitiy_component.html'%}
    </div>

    {% endblock content %}
  </body>
</html>
