<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% extends 'main.html' %} {% block content %}

    <div>
      <form method="POST" action="">
        {% csrf_token %}
        <label for="Username"></label>
        <input type="username" name="username" placeholder="Enter Username" />

        <label for="Password"></label>
        <input type="password" name="password" placeholder="Enter Password" />
        <hr />
        <input type="submit" value="Login" />
      </form>
    </div>
    {% endblock content %}
  </body>
</html>
